### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
# count number of unique players using value counts method
players=len(purchase_data["SN"].value_counts())

#display dataframe for total players
pd.DataFrame({"Total Players":[players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#find unique items using unique method on the column containing item names
unique =len(purchase_data["Item Name"].unique()) 

#find average purchase price by taking the mean of price column
average_purchase_price= purchase_data["Price"].mean()

#counts purchase id column to get total number of purchases
total_number_of_purchases = purchase_data["Purchase ID"].count()

#sum price column to get total revenue
total_revenue = purchase_data["Price"].sum()

# build summary df and format it for 2 decimal places and a $
summary_df= pd.DataFrame({"Number of Unique Items":[unique], "Average Purchase Price":[average_purchase_price],"Total Number of Purchases":[total_number_of_purchases],"Total Revenue":[total_revenue]})
summary_df.style.format({"Average Purchase Price": "${:,.2f}","Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#group purchase data by gender
gender_data = purchase_data.groupby("Gender")

#account for unique screen names by gender using nunique 
unique_gender_data = gender_data["SN"].nunique()

# get % of each gender by comparing the players by gender to total count
total_gender_data = unique_gender_data.sum()
percent_by_gender = (unique_gender_data/total_gender_data)*100

#summary df with formatting for 2 decimal spots and %
gender_df = pd.DataFrame({"Number of Players":unique_gender_data,"Percent Relative to Total":percent_by_gender})
gender_df.style.format({"Percent Relative to Total": "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#counts purchase id by gender to get purchases by gender
purchase_count = gender_data["Purchase ID"].count()

#averages price by gender
average_purchase_price= gender_data["Price"].mean()

#total purchase value by gender by summing price column by gender
total_purchase_value = gender_data["Price"].sum()

#compare total purchase value by gender to amoount of players in that gender
avg_purchase_per_person= total_purchase_value/unique_gender_data

#summary df and formatting
gender_purchase_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":average_purchase_price,"Total Purchase Value":total_purchase_value,"Average Total Purchase per Person":avg_purchase_per_person})
gender_purchase_df.style.format({"Average Purchase Price": "${:,.2f}", "Average Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# create labels for group names and bins for reference
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
bins= [0,9.9,14.99,18.99,23.99,28.99,33.99,38.99,9999]

#use pd.cut method to create an age group column that categorizes data by the above labels 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=labels)

#groups by age group and filters for unique screen names
age_groups= purchase_data.groupby("Age Group")
unique_age= age_groups["SN"].nunique()

#compare age group to whole
percent_by_age = (unique_age/total_gender_data)*100

#display summary df and format
age_df = pd.DataFrame({"Total Count":unique_age,"Percentage of Players":percent_by_age})
age_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#count purchases by age group by counting purchase id
purchase_count_age = age_groups["Purchase ID"].count()

# average price column per age group
average_purchase_price_age = age_groups["Price"].mean()

#total purchase value per age group
total_purchase_value= age_groups["Price"].sum()

# divide total purchases by age group by people in that age group (for every age group)
average_purchase_per_person_age = total_purchase_value/unique_age

#summary df and formatting
age_purchase_df = pd.DataFrame({"Purchase Count":purchase_count_age,"Average Purchase Price":average_purchase_price_age,"Total Purchase Value":total_purchase_value,"Average Total Purchase Per Person":average_purchase_per_person_age})
age_purchase_df.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Average Total Purchase Per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# group data by screen name 
screen_name_stats = purchase_data.groupby("SN")

#count purchases by screen name
purchases_sn=screen_name_stats["Purchase ID"].count()

#average purchase price per screen name
average_purchase_sn=screen_name_stats["Price"].mean()

#total purchases per screen name
sum_sn= screen_name_stats["Price"].sum()

#create a dataframe and sort it in descending order to display top purchases
sn_df = pd.DataFrame({"Purchase Count":purchases_sn,"Average Purchase Price":average_purchase_sn,"Total Purchase Value":sum_sn})
top_spenders_df = sn_df.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
#retrieve Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name","Price"]]

# group original dataframe by item id and item name
itemgroups=purchase_data.groupby(["Item ID","Item Name"])

# count the number of items bought
item_purchase_count=itemgroups["Price"].count()

#total value spent on the items 
item_sum= itemgroups["Price"].sum()

#calculate item price by dividing total spent on items by total count of items
item_price = item_sum/item_purchase_count

#create a summary dataframe with descending value by purchase count
items_df = pd.DataFrame({"Purchase Count":item_purchase_count, "Item Price":item_price,"Total Purchase Value":item_sum})
items_formatted_df=items_df.sort_values(["Purchase Count"], ascending=False).head()
items_formatted_df.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
#filter the dataframe we created in the last step by total purchase value rather than purchase count
formatted_by_purchase_value = items_df.sort_values(["Total Purchase Value"],ascending=False).head()
formatted_by_purchase_value.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [21]:
#Observable Trends
# The majority of players are male (84%)
# OathBreaker seems to be the most popular item purchased both in terms of purchase count and total purchase value
# Most players are between the ages of 20-24, and that age group accounts for the most revenue relative to age group